//header标签开始
header {
  height: 51px;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
  padding-right: 8px;

   h4 {
     color:#fff;
     
   }
   .fafa {
     font-size:26px;
     color:#fff;
   }
  .appDown {
    width: 34px;
    height: 34px;
    background-image: url("../images/header_app.png");
    background-repeat: no-repeat;
    background-size: 34px 34px;
  }
}

// header标签结束
.brandmain-ul {
  width: 332px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 0px auto;
  li {
    background-color: #ccc;
    border: 1px solid red;
    margin: 4px;
    a {
      width: 100%;
      height: 100%;
      line-height: 100%;
      display: flex;
      padding: 8px;
      div {
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
      span {
        font-size: 16px;
        padding-top: 14px;
      }
    }
  }
}

// 商标内容开始
// 商标内容结束
// foot标签开始
footer {
  background-color: #efefef;
  color: #5a5a5a;
  .foot_tools {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    a {
      height: 34px;
      font-size: 14px;
      border-right: 1px solid #c4c4c4;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a:nth-child(-n+2) {
      flex: 3;
    }
    a:last-child {
      flex: 4;
      border-right: none;
      span {
        width: 15px;
        height: 15px;
        margin-right: 2px;
        margin-bottom: 4px;
        background-image: url("../images/top.jpg");
        background-size: 15px 15px;
      }
    }
  }
  .foot_font {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
    height: 60px;
    font-size: 12px;
    text-align: center;
    padding: 15px;
    color: #666;
    p {
      a:first-child {
        color: red;
      }
      a {
        display: inline;
      }
    }
  }
}

// foot标签结束