@charset "UTF-8";
/* 头部 */
.header {
  background-color: #ff841d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
  line-height: 44px;
}

.header .back {
  width: 50px;
  height: 100%;
  text-align: center;
}

.header .back a {
  font-family: "黑体";
  color: #fff;
  font-size: 20px;
}

.header h1 {
  line-height: 44px;
  font-size: 20px;
  font-weight: bold;
}

.header .home {
  width: 50px;
  height: 100%;
  text-align: center;
}

.header .home .icon-app {
  display: block;
  width: 100%;
  height: 44px;
  background-image: url("../images/header_app.png");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

/* 商品列表 */
.gools {
  height: 100%;
  /* 页数 */
  /* 首页菜单 */
}

.gools li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #cfcdcd;
}

.gools li > a {
  width: 100%;
  padding: 15px 10px 10px 110px;
}

.gools li .pic {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100px;
  height: 100px;
}

.gools li .pic .over:after {
  content: "已结束";
  position: absolute;
  top: -15px;
  left: 0px;
  padding-right: 4px;
  height: 0px;
  border: 8px solid #666666;
  border-right-color: transparent;
  line-height: 0px;
  z-index: 1;
  color: #ffffff;
  font-size: 12px;
  opacity: 0.8;
}

.gools li .pic img {
  width: 100%;
}

.gools li .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
}

.gools li .info .title {
  color: #333;
  font-size: 15px;
  line-height: 19px;
  min-height: 57px;
}

.gools li .info .title span {
  color: #ff6c00;
  font-size: inherit;
}

.gools li .info .other {
  margin-top: 8px;
  padding-bottom: 20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a1a1a1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gools li .info .other .comment i {
  font-size: 13px;
  line-height: 1;
}

.gools .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

.gools .page a {
  display: block;
  width: 82px;
  height: 33px;
  text-align: center;
  color: #000;
  line-height: 33px;
  background-color: #f1f1f1;
  border: 1px solid #999;
}

.gools .page .selectPage {
  border: 1px solid #bababa;
  font-size: 14px;
  padding: 6px 10px;
}

.gools .menu {
  background-color: #ebebeb;
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
}

.gools .menu a {
  display: block;
  color: #000;
  padding: 10px;
}

/* 底部 */
.footer {
  padding-top: 20px;
  background-color: #efefef;
}

.footer .foot_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.footer .foot_top a {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
  padding: 10px 0;
  color: #000;
}

.footer .foot_top a span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  background-image: url(../images/top.jpg);
  background-size: 15px 15px;
}

.footer .foot_top a:last-of-type {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.footer .foot_top a:nth-child(-n+2) {
  border-right: 1px solid #c4c4c4;
}

.footer .foot_bot {
  padding: 15px 0;
}

.footer .foot_bot p {
  color: #666;
  font-size: 12px;
  text-align: center;
}

.footer .foot_bot p a {
  display: inline-block;
  color: #000;
}

.footer .foot_bot p a:nth-child(1) {
  color: red;
  margin-right: 5px;
}

/* 固定窗口 */
.promotion_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 15px;
  background-color: #fff;
  position: relative;
}

.promotion_bar .close {
  height: 21px;
  width: 21px;
  background-image: url("../images/close_1.png");
  background-size: 21px 21px;
}

.promotion_bar .icon {
  width: 41px;
  height: 41px;
  margin: 0 8px;
  background-image: url("../images/tb2.jpg");
  background-size: 41px 41px;
}

.promotion_bar span {
  color: #888;
}

.promotion_bar span:nth-of-type(1) {
  font-weight: bold;
}

.promotion_bar .btn {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 74px;
  height: 33px;
  line-height: 33px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background-color: #ff7700;
}
/*# sourceMappingURL=moneyctrl.css.map */